<?xml version = "1.0" ?>
<robot name = "phone" xmlns:xacro = "https://www.ros.org/wiki/xacro">
  <!-- include xacro files -->
  <xacro:include filename = "$(find phone_description)/urdf/phone.gazebo"/>
  <!-- define a dummy link -->
  <link name = "base_link"/>

  <link name = "phone_link">
    <inertial>
      <origin rpy = "0 0 0" xyz = "0 0 2" />
      <mass value = "1.6"/>
      <inertia ixx = "0.07" ixy = "0" ixz = "0" iyy = "0.08" iyz = "0" izz = "0.10"/>
    </inertial>
    <collision name = "collision">
      <geometry>
        <mesh filename = "package://phone_description/meshes/phone_new.dae"/>
      </geometry>
    </collision>
    <visual name = "visual">
      <geometry>
        <mesh filename = "package://phone_description/meshes/phone_new.dae"/>
      </geometry>
    </visual>
  </link>

  <!-- define the base joint -->
  <joint name = "base_joint" type = "fixed">
    <parent link = "base_link"/>
    <child link = "phone_link"/>
  </joint>
</robot>
